.property-section-wraper {
  margin: 0 auto;
}
.property-Header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  
}
.property-sec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
