.property-section-wraper {
    display: flex;
    justify-content: center;
}
.property-Header-container {
    display: flex;
    justify-content: space-between;
     
}
.property-sec-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}