.propImg {
  min-width: 158px;
  width: 100%;
  height: 192px;
  border-radius: 30px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
.property-image {
    margin-right: 30px;
}
.Property-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
  border: 1px solid #dcdceb;
  width: fit-content;
  border-radius: 30px;
  /* max-width: 540px; */
  margin: 12px;
}
.property-content-wrpr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.property-content,
.property-Hold-details {
  display: flex;
  align-items: center;
}
.property-Hold-details {
  margin-top: 14px;
}
.property-tag {
  margin-right: 08px;
}
.postDetwrpr {
  display: flex;
}
.postee-name {
  margin-left: 08px;
  font-weight: 500;
  color: #585981;
}
.pricing {
  padding: 6px 16px;
  background-color: #585981;
  border-radius: 8px;
  color: white;
  text-align: center;
  margin: 0px 20px;
}

@media only screen and (max-width: 768px) {
    .Property-card {
      flex-direction: column;
    }
    .property-image {
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .property-content,.property-Hold-details{
        flex-wrap: wrap;
    }
    .pricing {
        margin: 20px 0px;
        width: 100%;
    }
  }