@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Header1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 56px;
  color: #110229;
  margin-bottom: 18px;
}
.Header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  color: #110229;
  margin-bottom: 18px;
}

.subHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #110229;
  margin-bottom: 18px;
}
.cardheader {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #585981;
}
.cardtext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  color: #8f90a6;
}
.paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #585981;
}
.footerHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #110229;
  margin: 14px;
}
.footertext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #585981;
  margin: 14px;
  cursor: pointer;
}
.footerpara {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #585981;
}

.Hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.Navigationtext {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #110229;
}
.Button {
  padding: 14px 32px;
  background-color: #1DAEFF;
  border-radius: 12px;
  color: white;
  width: fit-content;
  margin: 80px 0px;
}